<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Driver JDBC -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>

        <!-- Conexión a la base de datos -->
        <property name="connection.url">jdbc:mariadb://localhost:3306/restaurant?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- Dialecto específico para MariaDB -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuraciones adicionales -->
        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>

        <!-- Configuración de hbm2ddl -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Opcional: Mapeo manual de clases si no usas anotaciones --> 
        <mapping resource="Empleat.hbm.xml"/>

        <!-- Detección automática de entidades anotadas con @Entity -->
        <mapping class="com.iticbcn.ismaelyounes.model.Client" />
        <mapping class="com.iticbcn.ismaelyounes.model.Restaurant" />
        <mapping class="com.iticbcn.ismaelyounes.model.Reserva" />

        
       

    </session-factory>
</hibernate-configuration>
